<div class='container text-center'>
  <h1 class="display-2">¡Hola <%= params[:first_name] %>!</h1>
</div></br></br>
<div class='container text-center'>
  <h1 class="display-5">Tu as su trouver cet Easter Egg, bravo à toi!</h1>
</div></br></br>